#deptFilterName, #catFilterName{
	padding-right: 10px;
}
#map_canvas {
	background: transparent url("../img/3.gif") no-repeat center center;
}

#storeCategorie{
	margin-top: 5px;
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    width: auto; /*width:100%;*/
	height: 180px; /* new */
    position: relative;
}
.swipe-wrap > div > img{
    width: auto; /*width:100%;*/
	height: 180px; /* new */
}

/* loadView */
#loadView{
    width: 100%;
    height: 100%;
    /*display: block;*/
    position: absolute;
    z-index: 1030;
    top:0;
}

#backLoad{
    background-color: white;
    opacity: .5;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

#loadView img{
    width: 48px;
    height: 48px;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -24px;
}
.carousel-caption {
    margin: 0px; 
    padding: 0px; 
    background: none;
    top: 60%;
    left: 5%;
    position: absolute;
    text-align: left;
}
#landingPageMenu{
    position: absolute;
    top:48px;
    right:0;
    z-index: 1000;
}
#menubutton > .navbar-toggle > .icon-bar{
  display: block;
  width: 22px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 1px;
}

#menubutton { position: absolute; right: 5px; top: 15px; }
#searchMenu { position: absolute; left: 5px; top: 20px; width: 100%}
#menuSearch {width: 75% }

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 15px;
    text-align: center;
    margin: auto;
    padding:0;
    pointer-events: none;
}
.navbar-toggle {
    z-index:1;
}
#navbar-backbutton {
    align-items:center;
    display:flex;
    height: 50px;
}
#backbutton-text {
    line-height: 50px;
    color: #007aff;
}
#backbutton-icon {
    line-height: 50px;
    vertical-align: middle;
    color: #007aff;
}
#backLink{
    z-index:1;
}
.red{
    color: red;
    font-size: 100%;
    text-decoration: line-through;
}

.green{
    color: green;
    font-size: 100%;
}
div[id^="readMore"]{
    color: blue;
    font-size: 100%;
    text-decoration: underline;
}
/* Chat View */
#chatList{
    overflow-x: hidden;
    overflow-y: auto;
}

#chatMessage{
    margin-bottom: 10px;
}
#chatName{
    text-align:left;
    font-weight: bold;
}
#chatDate{
    text-align: right;
}

/* Keep navbar collapsed */
@media (max-width: 2000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

.favoriteButton:focus{
    outline: none;
}
#makeFavorite{
    font-size: 125%;
}
#favoriteRow{
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.badge-notify{
   background:red;
   position:absolute;   
   top: -5px;
   right: -5px;
}
.vex-badge{
   background:red;
}
.gray-badge{
   background:grey;
}
#mapid { height: 380px; }

#buttonRow {
    margin-left: -2px;
    margin-top: 2px;
}

#websitewrap{
    word-wrap: break-word; /* Internet Explorer 5.5+ */}
    
a{text-decoration: none !important}